.git
.gitignore
.venv
.runtime
.data
.server-data
.env
*.egg-info
**/__pycache__
**/*.py[cod]
tests
datas
node_modules
output
deploy/images
*.tar.zst
settings.json
settings.windows.json
.DS_Store
**/.DS_Store
